/* Styles go here */

.red {
  color: red;
}
button {
  padding:10px;
  margin-top: 10px;
  width: 30%;
  color: white;
  background-color: #5d91d8;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
}
body {
  background-color: #f7f4f4;
  font-family: 'Abel', sans-serif;
}
ol {
  list-style: none;
  margin-right: 100px;
  margin-left: 50px;
}
li {
/*  border: 4px outset white;*/
  padding-bottom: 10px;
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 20px;
}

li:before {
  content: '\f099'; /* fa-star */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  margin-top: 0em;
  padding-top: 0px;
  color: #5d91d8;
}
textarea {
  width: 96%;
  border: outset;
  padding-top: 0px;
  margin-top: 0px;
}
h1 {
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 0px;
}
div>h1 {
  border:  20px outset white;
  width: 90%;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#sign-in, #sign-up {
  padding:0px;
  margin: 0px;
  width: 10%;
  height: 30px;
  color: black;
  background-color: #f7f4f4;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'Abel', sans-serif;
  font-weight: 800;
}
#sign-up{
  margin-left: 20px;
}
img {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 1em;
}
#singlebutton {
  font-size: 10px;
  height: 20px;
  width: 80px;
  padding-top: 0;
}
.follower {
  width: 35px;
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 30px;
}
#tweeet {
  border:  20px outset white;
  width: 90%;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.usersearch{
  border: inset;
  height: 20px;
  width: 150px;
  border-radius: 2px;
  top: 0;
  position: absolute;
  font-family: 'Abel', sans-serif;
}
#buttondiv {
  border-left: 1px solid darkgray;
  border-left-width: thick;
}
#namepic {
  border-right: 1px solid darkgray;
  border-right-width: thick;
  padding-right: 100px;
}
